/* 
TicTacToe Stylesheet v1.0
Last Updated: 2015-07-28
Author: William R.A.D. Funk - http://WilliamRobertFunk.com 
*/
body
{
    padding: 5% 0;
}
header
{
    padding: 5% 0;
    text-align: center;
    border-top: 1px solid #dddddd;
}
h1
{
    margin: 0;
}
h2
{
    margin: 0;
    padding: 0;
}
footer
{
    padding: 5% 0;
    margin: 10% 0;
    border-top: 1px solid #dddddd;
}
.row
{
    padding: 5% 0;
    border-top: 1px solid #dddddd;
}