/* 
TicTacToe Stylesheet v1.0
Last Updated: 2015-07-28
Author: William R.A.D. Funk - http://WilliamRobertFunk.com 
*/
body
{
    padding: 0px;
    color: #282828;
    font-weight: 500;
}
h2
{
    margin: 0px;
    padding: 0px;
    color: #3a648e;
}
h2 span
{
    vertical-align: text-top;
}
h4
{
    font-weight: bold;
}
a
{
    color: #35478C;
}
ol
{
    background-color: #ADD5F7;
}
img
{
    border: 1px solid #000000;
}
hr
{
    margin: 3px 0px 0px 0px;
    height: 0px;
    width: 100%;
    border-top: 3px solid #ADD5F7;
}
hr.row
{
    padding: 0%;
}
footer
{
    padding-top: 25px;
    text-align: right;
    margin-right: 8%;
}
footer a
{
    color: #000000;
    font-weight: lighter;
    text-decoration: underline;
}
footer p
{
    margin-top: 15px;
}
#mission p
{
    margin-top: 15px;
}
#contact p
{
    margin-top: 20px;
}
.navbar-default,
.navbar-inverse
{
    width: 100%;
    color: #d9d9d9;
    background-color: #0A4273;
}
.navbar-default .navbar-text
{
    color: #f2f2f2;
}
.navbar-default .navbar-nav > ul
{
    padding-left: 20px;
}
.navbar-default .navbar-nav > li:hover
{
    background-color: #ADD5F7;
}
.navbar-default .navbar-nav > li > a
{
    color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
    color: #35478C;
}
.navbar-default .navbar-nav > li > a:focus
{
    color: #f2f2f2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
    color: #f2f2f2;
    background-color: #073055;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus
{
    color: #f2f2f2;
}
.container
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.subheader
{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #74B2F0;
}
.row
{
    padding: 1% 8%;
}
.row-header
{
    background-color: #ffffff;
}
.row-header p
{
    color: #000000;
    font-weight: bold;
    float: left;
}
.row-header a
{
    color: #000000;
    font-weight: lighter;
    line-height: 34px;
}
.row-header a img
{
    float: left;
}
.row-header img,
.row-body img
{
    border: none;
}
.row-body
{
    text-align: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}
.alternate-color
{
    background-color: #ADD5F7;
}
.alternate-color p
{
    width: 80%;
}
.top-spacer
{
    height: 150px;
}
.btn.btn-danger
{
    background-color: #3F7EA6;
    border: 1px solid #000000;
}
.btn.btn-danger:hover
{
    background-color: #7AD95F;
    border: 1px solid #FFFFFF;
    color: #35478C;
}
.carousel-indicators
{
    display: none;
}
.panel-title
{
    text-align: center;
}
.panel-default > .panel-heading
{
    background-color: #7AD95F;
    border: 1px solid #ADD5F7;
}
.panel-group
{
    margin-top: 20px;
}
.job-history a
{
    color: #282828;
    font-weight: lighter;
    white-space: nowrap;
}
.job-history span
{
    font-weight: bold;
}
.job-history hr
{
    margin: 0px 0px 10px 0px;
    height: 0px;
    width: 85%;
    border-top: 3px solid #000000;
}
@media (min-width: 1200px) {
    body
    {
        font-size: 20px;
    }
    h2
    {
        font-size: 38px;
    }
    h2 span
    {
        font-size: 24px;
    }
    h4
    {
        font-size: 24px;
    }
    footer a
    {
        font-size: 18px;
    }
    #mission p
    {
        line-height: 34px;
    }
    .navbar-fixed-top .navbar-collapse
    {
        padding-left: 6%;
    }
    .row-header p
    {
        margin: 60px 0px 0px 0px;
    }
    .row-header a
    {
        font-size: 14px;
        margin: 50px 5px 0px 0px;
        float: right;
    }
    .row-header img
    {
        margin-right: 5px;
    }
    .alternate-color p
    {
        margin-bottom: 20px;
    }
    .job-history
    {
        min-height: 360px;
    }
    .job-history p
    {
        font-size: 17px;
        line-height: 24px;
        margin: 15px 0px;
    }
    .job-history a
    {
        font-size: 17px;
        line-height: 24px;
        margin: 10px 0px;
    }
}
@media (max-width: 1199px) {
    body
    {
        font-size: 18px;
    }
    h2
    {
        font-size: 32px;
    }
    h2 span
    {
        font-size: 14px;
    }
    h4
    {
        font-size: 20px;
    }
    footer a
    {
        font-size: 14px;
    }
    #mission p
    {
        line-height: 30px;
    }
    .navbar-fixed-top .navbar-collapse
    {
      padding-left: 5%;
    }
    .row-header p
    {
        margin: 60px 0px 0px 0px;
    }
    .row-header a
    {
        font-size: 14px;
        margin: 50px 5px 0px 0px;
        float: right;
    }
    .row-header img
    {
        margin-right: 5px;
    }
    .alternate-color p
    {
        margin-bottom: 18px;
    }
    .job-history
    {
        min-height: 365px;
    }
    .job-history p
    {
        font-size: 15px;
        line-height: 22px;
        margin: 15px 0px;
    }
    .job-history a
    {
        font-size: 15px;
        line-height: 22px;
        margin: 10px 0px;
    }
}
@media (max-width: 991px) {
    body
    {
        font-size: 16px;
    }
    h2
    {
        font-size: 26px;
    }
    h2 span
    {
        font-size: 18px;
    }
    h4
    {
        font-size: 18px;
    }
    footer a
    {
        font-size: 12px;
    }
    #mission p
    {
        line-height: 28px;
    }
    .row-header p
    {
        margin: 10px 0px;
    }
    .row-header a
    {
        font-size: 12px;
        margin: 0px;
        float: left;
    }
    .row-header img
    {
        margin-right: 5px;
    }
    .top-spacer
    {
        height: 100px;
    }
    .alternate-color p
    {
        margin-bottom: 14px;
    }
    .job-history
    {
        min-height: 275px;
    }
    .job-history p
    {
        font-size: 16px;
        line-height: 20px;
        margin: 15px 0px;
    }
    .job-history a
    {
        font-size: 16px;
        line-height: 20px;
        margin: 10px 0px;
    }
}
@media (max-width: 767px) {
    body
    {
        font-size: 14px;
    }
    h2
    {
        font-size: 22px;
    }
    h2 span
    {
        font-size: 16px;
    }
    h4
    {
        font-size: 16px;
    }
    footer a
    {
        font-size: 12px;
    }
    #mission p
    {
        line-height: 24px;
    }
    .row-header p
    {
        margin: 10px 0px;
    }
    .row-header a
    {
        font-size: 12px;
        margin: 0px;
        float: left;
    }
    .row-header img
    {
        margin-right: 5px;
    }
    .top-spacer
    {
        height: 100px;
    }
    .alternate-color p
    {
        margin-bottom: 10px;
    }
    .job-history
    {
        min-height: 0px;
        margin-bottom: 20px;
    }
    .job-history p
    {
        font-size: 13.5px;
        line-height: 18px;
        margin: 15px 0px;
    }
    .job-history a
    {
        font-size: 13.5px;
        line-height: 18px;
        margin: 10px 0px;
    }
}