/* 
TicTacToe Stylesheet v1.0
Last Updated: 2015-07-28
Author: William R.A.D. Funk - http://WilliamRobertFunk.com 
*/
body
{
    padding: 75px 0px 0px 0px;
    background-color: #ADD5F7;
    color: #16193B;
}
h2
{
    margin: 0px;
    padding: 0px;
}
a
{
    color: #35478C;
}
ol
{
    background-color: #ADD5F7;
}
img
{
    border: 1px solid #000000;
}
blockquote
{
    border-left: none;
}
footer
{
    padding-top: 25px;
    border-top: 1px solid #dddddd;
}
#comp-skills ul
{
    text-align: left;
    list-style: none;
}
#comp-skills h3
{
    margin-bottom: 40px;
}
.center-skillset
{
    padding-left: 60px;
}
.row-header
{
    padding: 15px;
    background-color: #ffffff;
}
.row-header img
{
    border: none;
}
.navbar-default,
.navbar-inverse
{
    color: #d9d9d9;
    background-color: #0A4273;
}
.navbar-default .navbar-text
{
    color: #f2f2f2;
}
.navbar-default .navbar-nav > li:hover
{
    background-color: #ADD5F7;
}
.navbar-default .navbar-nav > li > a
{
    color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
    color: #35478C;
}
.navbar-default .navbar-nav > li > a:focus
{
    color: #f2f2f2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
    color: #f2f2f2;
    background-color: #073055;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus
{
    color: #f2f2f2;
}
.container
{
    width: 100%;
    margin: 0px;
}
.subheader
{
    padding: 5% 0%;
    text-align: center;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #74B2F0;
}
.row-body
{
    padding: 5%;
    text-align: center;
}
.btn.btn-danger
{
    background-color: #3F7EA6;
    border: 1px solid #000000;
}
.btn.btn-danger:hover
{
    background-color: #7AD95F;
    border: 1px solid #FFFFFF;
    color: #35478C;
}
.carousel-indicators
{
    display: none;
}
.panel-title
{
    text-align: center;
}
.panel-default > .panel-heading
{
    background-color: #7AD95F;
    border: 1px solid #ADD5F7;
}
.panel-group
{
    margin-top: 20px;
}
.education
{
    margin-bottom: 20px;
}
.border-box
{
    padding-top: 10px;
    margin-bottom: 5px;
    min-height: 250px;
    border-top: 1px solid #000000;
}
.job-title
{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}