/* 
TicTacToe Stylesheet v1.0
Last Updated: 2015-07-28
Author: William R.A.D. Funk - http://WilliamRobertFunk.com 
*/
body
{
    padding: 10px;
}
h1
{

}
h2, h3, h4
{

}
h2
{

}
h3
{

}
h4
{

}
a
{

}
button
{

}
